* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Microsoft YaHei',SimHei, sans-serif;
    font-size: 15px;
}

img {
    max-width: 100%;
    display: block;
}


.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
.right {
    text-align: right;
}

.row {
    font-size: 0;
    display: block;
}

[class^='col'] {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;

    /*==========*/
    /*border: 1px solid #ccc;*/
    /*min-height: 30px;*/
}

.col-lg-1 {
    width: 8.333333333%;
}

.col-lg-2 {
    width: 16.66666667%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.3333333333%;
}

.col-lg-5 {
    width: 41.6666666666%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: 58.33333333%;
}

.col-lg-8 {
    width: 66.666666666%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-10 {
    width: 83.33333333333%;
}

.col-lg-11 {
    width: 91.66666666666%;
}

.col-lg-12 {
    width: 100%;
}

@media (max-width: 400px) {
    .col-sm-1 {
        width: 8.333333333%;
    }

    .col-sm-2 {
        width: 16.666666666%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.3333333333%;
    }

    .col-sm-5 {
        width: 41.6666666666%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-8 {
        width: 66.666666666%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33333333333%;
    }

    .col-sm-11 {
        width: 91.66666666666%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

.btn {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    color: #444;
}

.btn-primary {
    background: #fd521d;
    color: #fff;
}

.btn-fat {
    padding-left: 40px;
    padding-right: 40px;
}

.currency:before {
    content: 'ï¿¥';
}
  
.error-list{
    background: rgba(255, 0, 0, .2);
    color: #c10;
    margin-bottom: 10px;
}
.error {
    padding: 15x;
}
.small {
    font-size: 80%;
}
.muted {
    opacity: .8;
}
.muted a {
    color: #555;
}

.error-list {
    background: rgba(255, 0, 0, .5);
    padding: 5px;
    color: #c10;
    font-size: 0.7rem;
}
.input-control {
    margin-bottom: 8px;
}