.nav.global {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, .7);

}

.nav.global a {
    color: b0b0b0;
    font-size: 1rem;
    font-weight: 300;
    padding-right: 15px;
}

.nav.global a:hover{
    color: #fff;
}