<link rel="stylesheet" href="../../css/lib/normalize.css">
<link rel="stylesheet" href="../../css/common/global.css">


<div class="row login">
    <div class="container">
        <div class="logo"></div>
    </div>
    <div class="row main">
        <div class="col login-area">
            <div class="col-lg-6">账号登录</div>
            <div class="col-lg-6">扫码登录</div>
            <input type="text">
            <input type="password">
            <button type="submit">登录</button>
            <div class="row sign-type">
                <div class="col-lg-6">手机短信登录/注册</div>
                <div class="col-lg-6">立即注册| 忘记密码？</div>
            </div>
            <div class="row sign-other">
                <div class="col">其他方式登录</div>
            </div>
        </div>
    </div>
</div>
