<link rel="stylesheet" href="../../css/lib/normalize.css">
<link rel="stylesheet" href="../../css/common/global.css">
<link rel="stylesheet" href="../../css/page/order.css">

<div class="body">
    <div class="row nav product">
        <div class="container">
            <div class="col-lg-6">
                <a href="#" class="title">红米8</a>
                <a href="#" class="sub-title">lorem ipsum</a>
            </div>
            <div class="col-lg-6 right">
                <a href="#">概述</a>
                <a href="#">F码通道</a>
                <a href="#">用户评价</a>
            </div>
        </div>
    </div>
    <div class="row order">
        <div class="container">
            <div class="col-lg-6">
                <img src="../../img/order-product.jpg" alt="">
            </div>
            <div class="col-lg-6 order-panel">
                <div class="row product-title">红米5</div>
                <div class="row sub-title">「2GB+16GB、3GB+32GB赠手机保护壳和贴膜」搭载了玩游戏超给力的高通骁龙处理器，后置12MP旗舰相机，前置柔光自拍，配备5.7英寸全面屏。/div>
                <div class="price">899元</div>
                <hr>
                <div class="attachment-group">
                    <div class="attachment">
                        <span class="label">赠品</span>
                        <span class="text">赠米粉卡</span>
                    </div>
                </div>
                <hr>
                <div class="local well db">
                    <span>北京 北京市 东城区 永定门外街道</span>
                    <span class="edit">修改</span>
                    <span class="status">有现货</span>
                </div>
                <div class="select-pill-group">
                    <div class="title">选择版本</div>
                    <div class="group">
                        <div class="pill disabled">
                            <div class="name">2GB + 32GB</div>
                            <div class="price">778元</div>
                        </div>
                        <div class="pill">
                            <div class="name">2GB + 32GB</div>
                            <div class="price">778元</div>
                        </div>
                        <div class="pill">
                            <div class="name">2GB + 32GB</div>
                            <div class="price">778元</div>
                        </div>
                    </div>
                </div>
                <div class="select-pill-group">
                    <div class="title">选择颜色</div>
                    <div class="group">
                        <div class="pill disabled">
                            <div class="name">黑色</div>
                        </div>
                        <div class="pill">
                            <div class="name">金色</div>
                        </div>
                        <div class="pill">
                            <div class="name">玫瑰色</div>
                        </div>
                    </div>
                </div>
                <div class="support">
                    <div class="title">选择小米提供的保障服务</div>
                    <div class="support-card">
                        <div class="title">意外保障服务</div>
                        <div class="title">Yo5 意外保障服务</div>
                        <div class="div">我已阅读 保险条款| 投保须知| 常见问题</div>
                    </div>
                </div>
                <div class="price-sum well db">
                    <div class="detail">红米5 3GB+32GB 黑色</div>
                    <div class="price">总计 ：899元</div>
                </div>
                <div class="next">
                    <button type="button">加入购物车</button>
                </div>
                <div class="others">支持7天无理由退货</div>
            </div>
        </div>
    </div>
</div>