* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1100;
    margin-left: auto;
    margin-right: auto;
}

.row {
    font-size: 0;
}

.col {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
}


/* .col:nth-child(odd) {
    background: rgba(0 , 0, 0, .3);
}

.col:nth-child(even) {
    background: rgba(0 , 0, 0, .4);
} */

.left, .right {
    width: 50%;
}

.right {
    text-align: right;
}


.nav .left > a ,
.nav .right >a {
    padding: 8px 6px;
    font-family: sans-serif;

}

.nav {
    background: rgb(98, 100, 98);
    
}