.person-info,
.person-info a {
    /* background: rgb(57, 214, 235); */
    background: #80A7BD;
    /* text-align: center; */
    padding: 20px 40px;
    color: #205773;
}

.person-info,
.suffer {
    height: 100%;

}
.logo {
    padding: 40px;
    /* border-radius: 50px; */
}

.skill-type {
    margin-top: 40px;
    /* text-align: left; */
}

.skill-type .skill-name {
    font-size: 1.2rem;
}

.contact-info {
    margin-top: 60px;
}

.skill {
    height: 16px;
    background: #205773;
}

.skill.linux{
    width: 100px;
}

.skill.shell{
    width: 75px;
}

.skill.py{
    width: 60px;
}

.skill.js{
    width: 50px;
}
.skill.html{
    width: 95px;
}

.work-for .time {
    font-size: 1.1rem;
    padding-bottom: 10px;
}
.work-for .company,
.work-for .post {
    font-size: 1.2rem;
    font-weight: 600;

}
/* ======= */
.suffer {
    padding: 40px;
    background: #BAC7CF;
    color: #205773;
}

.suffer > * {
    margin: 20px 0;
}
.suffer .title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 10px;
}