.header h1,
.desc,
.content .preview,
.content .list a {
    color: #BDBBAA;
}


.content .time,
.footer .nav a,
.footer .copyright{
    color: #454445;
}

.header .nav a,
.content .title {
    color: #39AB94;
}