* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
body {
    margin: 0;
}

.left, .right {
    width: 50%;
}

.right {
    text-align: right;
}

.container {
    max-width: 1100;
    margin-left: auto;
    margin-right: auto;
}

.row {
    font-size: 0;
}

.col {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
}
