.main-promote a {
    text-decoration: none;
    padding: 8px 40px;
    /* padding-left: 35px; */
    /* margin-left: 15px; */
    font-size: 13px;
}

.main-promote a:hover {
    background:#ff6700;
}
.main-promote .slider {
    width: 80%;
}

.main-promote .cat {
    background : rgba(0, 0, 0, .6);
    width: 20%;
    padding-top: 2%;
}
.main-promote .cat a{
    display: block;
    color: #fff;
}

.main-promote .slider img {
    
}
