<link rel="stylesheet" href="../css/lib/normalize.css">
<link rel="stylesheet" href="../css/common/global.css">
<link rel="stylesheet" href="../css/component/nav.page.css">

<div class="row nav page">
    <div class="container">
        <div class="col-lg-2 logo">
            <img src="" alt="logo">
        </div>
        <div class="col-lg-7 link-group">
            <a href="#">小米手机</a>
            <a href="#">红米手机</a>
            <a href="#">电视</a>
            <a href="#">小米手机</a>
            <a href="#">红米手机</a>
            <a href="#">电视</a>
        </div>
        <div class="col-lg-3 search-area">
            <form id="search-area">
                <input class="col-lg-8" type="search">
                <button class="col-lg-4" type="submit">搜索</button>
            </form>
        </div>
    </div>
</div>