h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.header {
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-form {
    width: 300px;
    background: #fff;
    position: absolute;

}


.main-form > * {
    padding: 5px 0;
}

.main-form input,
.main-form button {
    width: 100%;
    font-size: 1rem;
    padding: 8px;;
}

.main-form button {
    background: #E08109;
    color: #fff;
}