<link rel="stylesheet" href="../../css/lib/normalize.css">
<link rel="stylesheet" href="../../css/common/global.css">
<link rel="stylesheet" href="../../css/common/color.css">

<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="../../css/component/nav.global.css">
<link rel="stylesheet" href="../../css/component/footer.css">

<link rel="stylesheet" href="../../css/page/content01.css">


<div class="content">
    <div class="container">
        <h1 class="title">不是所有的鱼都在同一片海里</h1>
        <div class="sub-title">
            <div class="blog-name">Linkding 叹零丁</div>
            <div class="post-time">2018-03-01</div>
            <div class="article-tag">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <a href="#">骚操作</a>
            </div>
        </div>
        <div class="content-area">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea pariatur voluptatibus quae impedit, id sed qui similique ex earum veritatis deleniti officiis nisi voluptatem expedita ipsam assumenda, corporis veniam dolores.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea pariatur voluptatibus quae impedit, id sed qui similique ex earum veritatis deleniti officiis nisi voluptatem expedita ipsam assumenda, corporis veniam dolores.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea pariatur voluptatibus quae impedit, id sed qui similique ex earum veritatis deleniti officiis nisi voluptatem expedita ipsam assumenda, corporis veniam dolores.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea pariatur voluptatibus quae impedit, id sed qui similique ex earum veritatis deleniti officiis nisi voluptatem expedita ipsam assumenda, corporis veniam dolores.
        </div>
    </div>
</div>


<div class="row footer">
    <div class="container">
        <div class="col-lg-4">
            <div class="copyright">copyright  @ linkding</div>
        </div>
            <div class="col-lg-8 right">
            <div class="nav">
                <span>
                    <a href="#">首页</a>
                </span> 
                <span>
                    <a href="view/page/archive.html">归档</a>
                </span>
                <span>
                    <a href="#">关于我</a>
                </span>
                <span>
                    <a href="#">链接</a>
                </span>
            </div>
        </div>
    </div>
</div>