.explorer-main {
    padding: 7rem;
}

.explorer-main .main-photo {
    background-image: url(../../img/explorer02.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -139px;
    min-height: 350px;
    
}
.explorer-main .title {
    
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.2rem;
}

.explorer-main .card-group .row .thumbnail{
    height: 350px;
    width: 100%;
    /* height: 300px; */
}
.explorer-main .card-group .row img {
    object-fit: contain;
}

.explorer-main .card-group  .title{
    font-size: 2.5rem;
    text-align: center;
    margin: 30px;
    color: pink;
}

.explorer-main .card-group .card {
    padding: 0 10px;

}

.explorer-main .card-group .card  .text {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.explorer-main .card-group .card .text .name {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
}

.explorer-main .card-group .card .text .time {
    font-size: 0.9rem;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}

.explorer-main .card-group .card .text:hover {
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.1);
}