.desc,
.content {
    font-size: 1rem;
    margin: 60px 0;
    line-height: 2rem;
}

/* .content {
    margin-bottom: 60px;
} */
.content h3 {
    font-size: 1.4rem;
}

.content .link-group .time ,
.content .link-group .list{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.content .link-group .list a{
    display: block;
}
